//
//  env.xcconfig
//  geber
//
//  Created by bernanda on 03/04/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APPLICATION_NAME = Geber
RECEIVER_FCM = eFtQRy5Z5UYCnfuhapxEY7:APA91bHGqeJlXmeQJ5VgrYYPojpmglNHA3BliUxqUVba0ysiZOm9Kb18LKRdo4nRoVL-mc9JCDgGDuvN1AbWzPNPTJSktSktxlGHe25IVIi14XmiHSPwxvQAZb0decg0zRPSZOZ3Moux
SERVER_KEY = AAAAnVkLGb4:APA91bHDkpQLR2yp_ABJy6Ekl5C_rNct2RQgYzlIuPKhMcJ6zCynO6-tPDxPk4ApWbnsO0uHN5AD1igS6pVH0nl-PeiRvuNiVcb7XgbsojG-d5rzHx9pKZbLU8PbwiAJrPZOWTYlzEE5
REDIS_HOST = admin.netlabdte.com
REDIS_PASS = 41319922e9d9d10029c3
REDIS_USER = default
BEACON_UUID = 1079C1C5-8188-49CD-B9B5-9FE2E7C81987

